@media only screen and (max-width:400px){
    /* global */
    .container{
        width: 100%;
        max-width: 348px;
        padding: 0 1rem;
        margin: 0 auto;
    }
    /* HEADER SECTION */
    .header { 
        padding: 2rem 0 1.2rem 0;
        margin-bottom: 3rem;
    }
    .header-container{
        display: flex;
        justify-content: flex-end;
    }
    .threeline{
        display: none;
    }
    .nav-list {
        display: none;
    }
    .threeline{
        display: flex;
        flex-direction: column;

    }
    .lines:not(:last-child){
        margin-bottom: 0.9rem;

    }
    .lines{
        display: inline-block;
        width: 3rem;
        height:0.4rem;
        background-color: var(--basic-color);
        padding: 0;

    }
        /* MAIN SECTION */
    
    
    /* hero */
    
    
    .hero {
        padding:1.5rem 2.4rem 5.9rem 2.4rem ;
        text-align: center;
    }
    .hero-parent {
        display: flex;
        flex-direction: column;
    
    }
    .hero-text-content{
        order: 1;
    }
    .hero-title {
        width: 312px;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 4rem;
        color: var(--basic-color);
        margin-bottom: 2.1rem;
    }
    .hero-text{
        width: 328px;
        font-weight: 400;
        margin-bottom: 2.7rem;
        color: var(--basic-color);
    }
    
    .hero-btn {
        font-weight: 500;
        font-size: 2rem;
        padding: 1.7rem 2rem;
        color: var(--white-color);
        background-color: var(--btn-bg-hover);
        border-radius: 0.2rem;
        border: none;
    }
    .hero-img img{
        width: 170.8px;
        height: 170.8px;
        box-shadow: -3.52px 9.14px 0 #EDF7FA;
        border-radius: 50%;
        margin-bottom: 3.4rem;
    }

    /* recents */
    .recents{
        background-color: var(--recents-bgc);
        padding: 0 1rem 3.8rem 1rem;
    }
    .recents-parent {
        display: flex;
        flex-direction: column;
    }
    .recents-top {
        display: flex;
        justify-content: center;
    }
    .recents-title {
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 6rem;
        color: var(--basic-color);
    }
    .recents-view-all {
        display: none;
    }
    .recents-bottom {
        display: flex;
        flex-direction: column;
    }
    .recents-card:not(:last-child){
        margin-bottom: 1.7rem;
    }
    .recents-card {
        display: inline-block;
        background-color: var(--white-color);
        border-radius: 0.4rem;
        padding: 1.2rem 0.8rem 2.2rem 1.9rem;
    }
    .recents-card-title { 
        width: 327px;
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 3rem;
        color: var(--basic-color);
        margin-bottom: 1.2rem;
    
    }
    .recents-subtitle-rower{
        display: flex;
        align-items: center;
        margin-bottom: 1.9rem;
    }
    .recents-card-subtitle:not(:last-child){
        border-right: 1px solid var(--nav-item-color);
        margin-right: 2.4rem;
        padding-right: 2.4rem;
    
    }
    
    .recents-card-subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.644rem;
        color: var(--basic-color);
    }
    .recents-card-paragraph {   
        width: 314px;
    
    }

    /* featured */
    .featured {
        padding: 1.5rem 0 8.3rem 0;
    }
    .featured-only-mobile .featured-top0title {
        text-align: center;
    }
    .featured-top0title {
        font-weight: 400;
        font-size: 1.8remrem;
        line-height: 6rem;
        color: var(--basic-color);
        margin-bottom: 2.4rem;
    }
    
   

    .featured-card {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #E0E0E0 ;
        padding-bottom: 3rem;
    }
    .featured-card-img img {
        width: 339px;
        height: 230px;
    }
    .featured-card-text {
        margin-top: 1rem;
    }
    .featured-card-title {
        font-weight: 700;
        font-size: 2.4rem;
        color: var(--basic-color);
        line-height: 3rem;
    }
    .featured-card-subtitle {
        display: flex;
        align-items: center;
        margin-bottom: 2.2rem;
    }
    .featured-card-year-bg {
        width: 6.2rem;
        height: 2.5rem;
        border-radius: 1.6rem;
        background-color: var(--year-bgc);
        text-align: center;
        display: block;
        margin-right: 2.6rem;
    }
    .featured-card-year {
        font-weight: 900;
        font-size: 1.6rem;
        color: var(--white-color);
    
    }
    .featured-card-recommend {
        font-weight: 400;
        color: var(--basic-color);
    }
    .featured-card-paragraph{
        font-weight: 400;
        color: var(--basic-color);
    }
            /*nav blog  */

    .blog-container {
        width: 100%;
        max-width: 371px;
        padding: 0 1.8remrem;
        margin: 0 auto;
    
    }
    .blog-top-title {
        font-weight: 700;
        font-size: 3rem;
        line-height: 6rem;
        color: var(--basic-color);
        margin-top: 3.6rem;
        margin-bottom: 1.8rem;
    }
    .blog-card {
        border-bottom: 1px solid var(--hr-color);
        padding-bottom: 2.4rem;
    }
    .blog-card:not(:last-child){
        margin-bottom: 1.8rem;
    }
    .blog-card:last-child{
        margin-bottom: 5.7rem;
    }
    .blog-title {
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 3.81rem;
        color: var(--basic-color);
        margin-bottom: 0.5rem;
    }
    .blog-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 1.7rem;
    }
    .blog-wrap-year {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.35rem;
        color: var(--basic-color);
        border-right: 1px solid var(--nav-item-color);
        padding-right: 1.4rem;
        margin-right: 1.4rem;
        
    }
    .blog-wrap-recommend {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.35rem;
        color: var(--light-color);
    }
    /* detail section */

    /* detail main top */
    .main-top {
        margin-top: 7.8rem;
        margin-bottom: 5.4rem;
    }
    .detail-container {
        width: 100%;
        max-width: 375px;
        padding: 0 1.8rem;
        margin: 0 auto;
    }
    .main-top-title {
        width: 339px;
        font-weight: 700;
        font-size: 3rem;
        line-height: 4rem;
        color: var(--basic-color);
        margin-bottom: 2.3rem;
    }
    .main-top-wrap {
        display: flex;
        margin-bottom: 2.4rem;
    }
    .main-top-year-bg {
        width: 62px;
        height: 25px;
        border-radius: 1.6rem;
        background-color: var(--btn-bg-hover);
        display: flex;
        justify-content: center;
        align-self: flex-start;
        padding: 0.2rem;
        margin-right: 1.5rem;
    }
    .main-top-year {
        font-weight: 900;
        font-size: 1.8rem;
        color: var(--white-color);
    }
    .main-top-recommend {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.64rem;
        color: var(--basic-color);
    }
    .main-top-paragraph {
        font-weight: 400;
        margin-bottom: 2.3rem;
    }
    .main-top-image{
        width: 339px;
        height: 339px;
    }
    /* detail main center */
    .main-center-text-conten {
        margin-bottom: 2.4rem;
    }
    .main-center-title {
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 6rem;
        color: var(--basic-color);
    }
    .main-center-subtitle {
        font-weight: 500;
        font-size: 2rem;
        line-height: 6rem;
        color: var(--basic-color);
    }
    .main-center-paragraph {
        font-weight: 400;
        width: 339px;
    }
    .main-center-img-cover {
        margin-bottom: 0.7rem;
    } 
    .main-center-img{ 
        width:339px; 
        height:339px;
        margin-bottom: 2.3rem;
    }

}
